# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/
*.code-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Local config overrides
.env
.env.*

# Test Config
test-config.json